.search{
    color: grey;
    padding-left: 10px;
    padding-right: 180px;
    padding-top: 8px;
    padding-bottom: 8px;
     font-size: 18px;
     margin-left: 500px;
     border-radius: 1px;
     border-width: 1px;
     display: inline-block;
}
.simg{
    width: 35px;
    align-items:first baseline;
}
p{
    font: arial;
}
.vp{
    width: 300px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    margin-left: 10px;
    
}
.thumbnail{
    width: 300px;
    display: block;
    border-radius: 10px;
     border: none;
    
}.caption{
    margin-top: 0px;
    display: inline-block;
    font-size: 15px;
    font-family: Arial;
    color: rgb(0, 0, 0);
     font-weight: bold;
     margin-bottom: 5px;


    }.caption:hover {
    text-decoration: underline;
}

.channelname{
    margin-top: 6px;
    font: arial;
    font-size: 14px;
    color: grey;
   margin-bottom: 1px;

}.tandd{
    margin-top: 1px;
    margin-top: 6px;
    font: arial;
    font-size: 14px;
    color: grey;


}.chimg{
    display: inline-block;
    margin-top: 10px;
    width: 20px;

}
.channel-profile{
   vertical-align: top;
    display: inline-block;
    width: 19%;
}
.channel-info{
    margin-top: 0px;
    display: inline-block;
    width: 79%;
}
.channel-picture{
    width: 80%;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
}
.info{
    margin-top: 10px;
}